
:root {
  --z-index-overlay: 16;
  --z-index-navbar: 32;
  --z-index-bottom-nav: 8;
  --welcome-text: white;
  --welcome-nav-height: 64px;
  --welcome-nav-gap: 8px;
  --welcome-card-bg: white;
  --welcome-bg-start: hsl(258, 58%, 47%);
  --welcome-bg-end: #8f4cd7;
  --total-text: white;
  --total-income: #FE7275;
  --total-expenses: #53A867;
  --total-bg: #252A43;
  --top-safe-area-height: 24px;
  --text: #333;
  --tabs-indicator-bg: rgba(255, 255, 255, 0.5);
  --overlay-mask-bg: rgba(0, 0, 0, 0.3);
  --overlay-bg: white;
  --number-button-text-important: white;
  --number-button-bg: white;
  --number-button-bg-important: #5c33be;
  --navbar-text: #fff;
  --navbar-bg-start: var(--welcome-bg-start);
  --navbar-bg-end: var(--welcome-bg-end);
  --main: #5c33be;
  --list-time-text: var(--date-text);
  --list-tag-text: #333;
  --list-amount-text: var(--amount-text);
  --input-radius: var(--button-radius);
  --input-min-height: 48px;
  --input-border-color: #5c33be;
  --float-button-text: white;
  --float-button-bg: var(--button-bg);
  --error-color: #FF0B0B;
  --emoji-nav-text: #999999;
  --emoji-nav-text-selected: #333333;
  --date-text: #999999;
  --button-text: white;
  --button-radius: 8px;
  --button-height: 42px;
  --button-font-size: 18px;
  --button-border-color: #ddd;
  --button-bg: #5C33BE;
  --button-bg-danger: #FF0B0B;
  --bg: white;
  --amount-text: #53A867;
}