.wrapper {
  background-image: linear-gradient(to bottom, #5d33be 0%, #8f4cd7 100%);
  height: calc(100vh - var(--welcome-nav-height));
  display: flex;
  flex-direction: column;
  width: 100vw;
  box-sizing: border-box;
  padding-bottom: var(--welcome-nav-gap);
}
.header {
  padding-top: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .img {
    width: 64px;
    height: 69px;
  }
  .text {
    margin-top: 8px;
    font-size: 32px;
    font-weight: bold;
    line-height: 28px;
    color: #d4d4ee;
  }
}
.main {
  margin-top: 32px;
  width: 100%;
  flex: 1;
  padding-bottom: var(--welcome-nav-gap);
  .card {
    height: 100%;
    margin: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #ffffff;
    border: 1px solid #707070;
    .icon {
      width: 130px;
      height: 130px;
    }
    > img {
      margin-bottom: 32px;
    }
    h2 {
      margin: 0;
      font-size: 18px;
      line-height: 24px;
      text-align: center;
    }
  }
}
.footer {
  position: fixed;
  box-sizing: border-box;
  height: var(--welcome-nav-height);
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: var(--z-index-bottom-nav);
  background-color: var(--welcome-bg-end);
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  color: #ffffff;
  .fake {
    visibility: hidden;
  }
}
